# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Database URL
DATABASE_URL=""

# Resend Api Token
RESEND_API_KEY=""